:root {
  --bs-primary: #28a745; /* Cambia el color primario a verde */
  --bs-secondary: #6c757d; /* Cambia el color secundario a gris */
  --bs-success: #198754; /* Cambia el color de éxito a verde oscuro */
  --bs-info: #0dcaf0; /* Cambia el color de información a azul claro */
  --bs-warning: #ffc107; /* Cambia el color de advertencia a amarillo */
  --bs-danger: #dc3545; /* Cambia el color de peligro a rojo */
  --bs-light: #f8f9fa; /* Cambia el color claro a un tono grisáceo */
  --bs-dark: #212529; /* Cambia el color oscuro a negro */
  --bs-white: #fff; /* Cambia el color blanco a blanco */
}
